.main-container {
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  list-style-type: none;
}

.App {
  color: bisque;
}
.avatar {
  height: 150px;
  width: 150px;
  /* color: tint(#BADA55, 42%); */
}