.main-container {
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  list-style-type: none;
}

.App {
  color: bisque;
}
.avatar {
  height: 150px;
  width: 150px;
  background-color: #b3afaf7d;
  margin: 5px;
  padding: 5px;
}

