body {
  margin: 0;
  font-family: 'Metal Mania', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100%;
  box-sizing: border-box;
  color: bisque;
  background: url(../src/assets/linus-sandvide-5DIFvVwe6wk-unsplash.jpg) no-repeat center center fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
